body {
      padding: 0;
      margin: 0;
      font-family: Roboto, Arial, Helvetica, sans-serif;
    }
  .header {
  height: 80px;
  display: flex;
  align-items: center; /* Changed 'flex-direction' to 'align-items' */
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #16242E;
  border-bottom: 1px solid black;
  z-index: 2;
}


    .left-section {
      display: flex;
      align-items: center;
      margin-left: 10px; /* Reduced the margin */
    }

    .middle-section {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 0 15px; /* Adjusted the margins */
      position: relative;
    }

    .search-bar {
      flex: 1;
      height: 36px;
      width: 50px;
      padding-left: 20px;
      font-size: 16px;
      border: 1px solid #008AEE; /* Added border */
      border-radius: 15px;
      color: white;
      background-color: transparent;
    }

    .search-bar::placeholder {
      font-family: Roboto, Arial;
      font-size: 16px;
      background-color: none;
    }

    .search-button {
      height: 40px;
      width: 60px;
      position: absolute;
      right: 0;
      top: 18px;
      background-color: transparent;
      border: 0;
    }

    .search-icon {
      height: 25px;
      margin-top: 4px;
    }

    .right-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      margin-right: 10px; /* Reduced the margin */
    }

    .user-icon,
    .youtube-apps-icon,
    .facebook-icon,
    .number {
      width: 44px;
      height: 44px;
      padding-right: 10px; /* Reduced the padding */
    }
    .bottom_nav {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.button-autoparts {
  background-color: #008AEE;
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 18px;
  cursor: pointer;
}
.button-autoparts:hover {
    background-color: white;
    color: black;

}
.button-redemption {
  background-color: #F2992F;
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 18px;
  cursor: pointer;
}
.button-redemption:hover {
    background-color: white;
    color: black;

}

.button-auctions {
  background-color: #2CCACA;
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 18px;
  cursor: pointer;
}
.button-auctions:hover {
    background-color: white;
    color: black;

}
.button-stock-market {
  background-color: #33BB5A;
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 18px;
  cursor: pointer;
}
.button-stock-market:hover {
    background-color: white;
    color: black;

}
.button-games {
  background-color: #BD5FE9;
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 18px;
  cursor: pointer;
}
.button-games:hover {
    background-color: white;
    color: black;

}
.button-news {
  background-color: #EE4700;
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 18px;
  cursor: pointer;
}
.button-news :hover {
    background-color: white;
    color: black;

}
    .bottom_nav {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      width: 100%;
      background-color: #1C2D3A;
      border-bottom: 1px solid black;
      margin-top: 70px;
      z-index: 2; 
    }
      .purse-icon
      .like-icon
      .notification-icon
      .basket-icon{
        width: 46px;
        height: 46px;
        right: 200px;
      }
      .button-query {
  height: 40px;
  width: 300px;
  border-radius: 50px;
  background-color: #33BB5A;
  color: white;
  margin-left:1200px;

}

.left-side-nav{
  display: flex;
  width: 45px;
  padding-left: 15px;
}
    /* Filters */
    .filter {
      padding: 20px;
      border-radius: 10px;
      margin-top: 50px;
      box-shadow: 0px 0px 11px -3px;
    }

    .clean-filters {
      border: 0;
      background-color: unset;
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }

    .filters-top {
      display: flex;
      justify-content: space-between;
    }

    .filter-inputs {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
    }

    .filter-input {
      padding: 10px 15px;
      border-radius: 50px;
      border: 1px solid #008AEE;
    }

    .filter-apply {
      display: block;
      padding: 10px 15px;
      background-color: #008AEE;
      color: white;
      border: unset;
      border-radius: 50px;
      cursor: pointer;
    }

    .side-buttons {
      padding-bottom: 20px;
      border-bottom: 1px solid;
    }

    .side-buttons button {
      width: 100%;
      padding: 15px 15px;
      background-color: #008AEE;
      color: white;
      border: unset;
      margin-bottom: 10px;
      border-radius: 50px;
      cursor: pointer;
    }

    .side-nav {
      border-bottom: 1px solid;
    }

    .right-section-filters {
      position: absolute;
      right: 0;
    }

    .add {
      padding-right: 50px;
    }

    .add img {
      margin-top: 20px;
      width: 100%;
      height: auto;
    }

    .other-filters {
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: fixed;
      margin-bottom: 60px;
      margin-left: 320px;
      padding-top: 30px;
      position: relative;
    }

    .left-section-filters {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    .filters-input {
      background-color: transparent;
      color: grey;
      border-color: grey;
      margin-bottom: 10px;
      border-radius: 50px;
      width: 186px;
      height: 45px;
    }

    .refresh-button {
      color: #008AEE;
      text-decoration: underline;
      cursor: pointer;
    }
    .products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}
.product-images {
  display: flex;
  height: 300px;
  gap: 10px;
}
.main-img {
  flex-grow: 1;
  border-radius: 10px;
  position: relative;
}

.main-img-content {
  padding: 10px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}


.main-img .img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-flex;
}

.main-img .img img {
  width: 100%;
  height: 100%;
}

.img {
  width: 100px;
  height: 400px;
}


.main-img .pic {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.main-img .picture {
  padding: 6px 15px;
  background-color: red;
  border: 0;
  border-radius: 50px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;

}

.main-img-aside {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-img-aside .img {
  width: 98px;
  height: 71px;
  top: 79px;
  left: 335px;
  border-radius: 10px;

}

.product-top-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-top: 15px;
}


.product-top-info .author {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expires .date {
  color: blue;
}

.author {
  display: flex;
}

.buy {
  padding: 7px 15px;
  color: white;
  border-radius: 50px;
  background-color:  #33BB5A;
  margin-top: 8px;
  margin-bottom: 8px;
}

.title {
  font-weight: bold;
}

.extra-info {
  margin-top: 10px;
}

.extra-info-row {
  display: flex;
  gap: 5px;
}

.extra-info-row .key {
  color: blue;
}


.main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.aside {
  width: 100%;
}

@media all and (max-width: 860px) {
  }
.aside-buttons {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.aside-buttons button {
  width: 100%;
  padding: 15px 15px;
  background-color: #008AEE;
  color: white;
  border: unset;
  margin-bottom: 10px;
  border-radius: 50px;
}
.side-nav{
  border-bottom: 1px solid;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;

}

.info-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.info-1 {
  width: 197px;
  height: 16px;
  top: 451px;

}